<%- include('../partials/header') %>

<body>
    <section class="containerItems">

        <% item.forEach(product => { %>
        <div class="box1">
            <div class="box1-imagen">
                <img src='..\img\<%= product.image_front%>' alt="Figura coleccionable">
            </div>

            <div class="box1-producto">
                <h2><%= product.licence_name %></h2>
                <h3><%= product.product_name %></h3>
                <p><%= product.product_description %></p>
                <p id="price"><%= product.price %></p>
                <form action="" method="">
                    <button>-</button>
                    <input type="number">
                    <button>+</button>
                    <input type="submit" value="Agregar al Carrito">
                </form>
                <p id="cuota"><a href="">Ver métodos de pago</a> - 3 CUOTAS SIN INTERES</p>
            </div>
        </div>
        <% });%>

        <div class="box2">
            <h2>PRODUCTOS RELACIONADOS</h2>
            <div class="stroke2i"></div>
            <div class="stroke2d"></div>
            <div class="grid-container">

                <div class="card">
                    <img src="..\img\star-wars\trooper-1.webp" class="card-imagen" alt="Trooper">
                    <p id="marca">Star Wars</p>
                    <p id="modelo">STORMTROOPER LIGHTSABER</p>
                    <p id="precio">$ 1799,99.-</p>
                    <p id="cuotas">3 CUOTAS SIN INTERÉS</p>
                </div>

                <div class="card">
                    <img src="..\img\pokemon\pidgeotto-1.webp" class="card-imagen" alt="Pidgeotto">
                    <p id="marca">POKEMON</p>
                    <p id="modelo">PIDGEOTTO</p>
                    <p id="precio">$ 1567,99.-</p>
                    <p id="cuotas">3 CUOTAS SIN INTERÉS</p>
                </div>

                <div class="card">
                    <img src="..\img\harry-potter\luna-1.webp" class="card-imagen" alt="Luna">
                    <p id="marca">HARRY POTTER</p>
                    <p id="modelo">LUNA LOVEGOOD LION MASK</p>
                    <p id="precio">$ 2434,99.-</p>
                    <p id="cuotas">3 CUOTAS SIN INTERÉS</p>
                </div>

            </div>
        </div>

    </section>
</body>

<%- include('../partials/footer') %>